@media only screen and (min-width:200px) and (max-width:575px)
{
    .btn-outer
    {
        position: fixed;
        bottom:0px;
        left:0px;
        width:100%;
        display: flex;
        justify-content:center !important;
    }
    .whatsapp-btn, .call{
        padding:7px 15px;
        font-size:14px;
    }
}

@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1170px;
    }
}