*
{
    font-family: "Inter", sans-serif;
}

.whatsapp-btn
{
    background-color: aliceblue;
    border:1px solid #27AE60;
    padding:10px 18px;
    color:#27AE60;
    font-size:16px;
}
.call
{
    background:linear-gradient(to right, #0ACEFE,#2699FB);
    color:white;
    padding:10px 18px;
}
